body {
	--text-color: #444444;
	--bg-color: #dfdfdf;
	--title-color: #101010;
	--text-a-color: #1a0dab;
	--text-a-visited-color: #681da8;
	--bg-nav-color: #bbbbbb;
	--bg-alt-color: #cccccc;
	--macos-logo: url("macOSLogo.svg");
	--bg-code-color: white;
	--code-color: black;
	--code-border-color: #333333;
	--prompt-color: green;
	--buttom-color: #AAAAAA;
    --shadow-color: gray;
}

body.theme-change {
	--text-color: #aaaaaa;
	--bg-color: #151515;
	--title-color: #f0f0f0;
	--text-a-color: #7fd7ff;
	--text-a-visited-color: #ffafff;
	--bg-nav-color: #333333;
	--bg-alt-color: #222222;
	--macos-logo: url("macOSLogoDark.svg");
	--bg-code-color: black;
	--code-color: green;
	--code-border-color: #999999;
	--prompt-color: GreenYellow;
	--buttom-color: #666666;
    --shadow-color: #111111;
}

@media (prefers-color-scheme: dark) {
	body {
		--text-color: #aaaaaa;
		--bg-color: #151515;
		--title-color: #f0f0f0;
		--text-a-color: #7fd7ff;
		--text-a-visited-color: #ffafff;
		--bg-nav-color: #333333;
		--bg-alt-color: #222222;
		--macos-logo: url("macOSLogoDark.svg");
		--bg-code-color: black;
		--code-color: green;
		--code-border-color: #999999;
		--prompt-color: GreenYellow;
		--buttom-color: #666666;
        --shadow-color: #111111;
	}

	body.theme-change {
		--text-color: #444444;
		--bg-color: #dfdfdf;
		--title-color: #101010;
		--text-a-color: #1a0dab;
		--text-a-visited-color: #681da8;
		--bg-nav-color: #bbbbbb;
		--bg-alt-color: #cccccc;
		--macos-logo: url("macOSLogo.svg");
		--bg-code-color: white;
		--code-color: black;
		--code-border-color: #333333;
		--prompt-color: green;
		--buttom-color: #AAAAAA;
        --shadow-color: gray;
	}
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

h1,
h2,
h3,
a {
	color: var(--title-color);
}

nav {
	background-color: var(--bg-nav-color);
	box-shadow: 0 0.2rem 10px 0 var(--shadow-color);
}

.solink.linux {
	background-image: url("LinuxLogo.svg");
}

.solink.windows {
	background-image: url("Windowslogo.svg");
}

.solink.macos {
	background-image: var(--macos-logo);
}

.solink.home {
	background-image: url("SCS.svg");
}

.theme {
	background-image: url("changetheme.svg");
}

section a {
	color: var(--text-a-color);
}

section a:visited {
	color: var(--text-a-visited-color);
}

code {
	background-color: var(--bg-code-color);
	color: var(--code-color);
	border-color:
		var(--code-border-color);
}

#menulabel {
	color: var(--title-color);
	box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
}

img.shadow {
    filter: drop-shadow(5px 5px 10px var(--shadow-color));
}

body {
	margin: 0px;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}

h2,
h3 {
	text-align: left;
}

p {
	text-align: justify;
	text-indent: 2rem;
}

main img {
	max-width: 100%;
	height: auto;
/* 	max-height: 90vh; */
}

#icon {
	height: 10rem;
}

nav {
	display: block;

	margin: 0;
	text-align: right;
	width: 100%;
	z-index: 1;
}

nav>a {
	margin-top: auto;
	margin-bottom: auto;
	height: 100%
}

main {
	margin: auto;
	text-align: center;
}

main ul {
	text-align: justify;
}

code {
	display: block;
	text-align: left;
	overflow: scroll;
}

code>span {
	color: var(--prompt-color);
}

.theme {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#features article {
	background-color: var(--bg-alt-color);
	padding: 0.5rem;
	margin: 1rem 0.5rem;
	box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
}

#features h3 {
	text-align: center;
}

#features ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

#features ul li {
	margin: 0.5rem;
	padding: 0.5rem;
}

#features ul li:only-child {
	margin: auto;
}

#features ul.big li {
	max-height: 25rem;
	overflow: hidden;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 75%, transparent 100%);
}
#features ul li p {
	text-align: center;
	text-indent: 0px;
}

#features ul li img {
	width: auto;
}

@media (max-width: 480px) {
	nav {
		display: none;
		text-align: center;
		justify-content: center;
		flex-direction: column;
	}

	nav>a {
		height: 3rem;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-radius: 0.5rem;
		background-color: var(--buttom-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		line-height: 3rem;
	}

	.solink,
	.theme {
		background-size: 2rem;
	}

	.solink {
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 2rem;
	}

	#menu {
		display: none;
	}

	#menulabel {
		display: block;
		height: 3rem;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-radius: 0.5rem;
		background-color: var(--buttom-color);
		line-height: 3rem;
		text-align: center;
	}

	#menu:checked+nav {
		display: flex;
	}

	#icon {
		height: 4rem;
	}

	main {
		padding-top: 1rem;
		width: 95%;
	}

	h1 {
		font-size: 1.1rem;
	}

	ul,
	p {
		font-size: 0.8rem;
	}

	section {
		padding-top: 0.8rem;
	}

	#download div>a {
		background-color: var(--bg-nav-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		display: block;
		margin-top: auto;
		margin-bottom: auto;
		margin: 0.5rem;
		padding: 1rem;
		font-size: 1rem;
		text-align: left;
		box-sizing: unset;
	}

	#download div .solink {
		background-repeat: no-repeat;
		padding-left: 4rem;
		background-size: 1.5rem;
		background-position-x: 1.5rem;
		background-position-y: middle;
	}
}

/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
	nav {
		display: none;
		text-align: center;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 5rem;
		position: absolute;
	}

	nav>a {
		flex: 40%;
		height: 3rem;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-radius: 0.5rem;
		background-color: var(--buttom-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		line-height: 3rem;
	}

	.solink,
	.theme {
		background-size: 2rem;
	}

	.solink {
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 2rem;
	}

	#menu {
		display: none;
	}

	#menulabel {
		display: block;
		height: 3rem;
		border-radius: 0.5rem;
		background-color: var(--buttom-color);
		line-height: 3rem;
		text-align: center;
		min-width: 4rem;
		width: 25%;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 2;
	}

	#menu:checked+nav {
		display: flex;
	}

	#icon {
		height: 5rem;
	}

	main {
		padding-top: 1rem;
		width: 95%;
	}

	h1 {
		font-size: 1.2rem;
	}

	ul,
	p {
		font-size: 0.8rem;
	}

	section {
		padding-top: 0.9rem;
	}

	#download div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#download div>a {
		background-color: var(--bg-nav-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		display: block;
		margin-top: auto;
		margin-bottom: auto;
		margin: 1rem;
		padding: 1.5rem;
		font-size: 1rem;
		text-align: left;
		box-sizing: unset;
		width: 45%;
	}

	#download div .solink {
		background-repeat: no-repeat;
		padding-left: 4rem;
		background-size: 1.5rem;
		background-position-x: 1.5rem;
		background-position-y: middle;
	}

}

/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
	nav {
		display: none;
		text-align: center;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 5rem;
		position: absolute;
	}

	nav>a {
		flex: 25%;
		height: 3rem;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-radius: 0.5rem;
		background-color: var(--buttom-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		line-height: 3rem;
	}

	.solink,
	.theme {
		background-size: 2rem;
	}

	.solink {
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 2rem;
	}

	#menu {
		display: none;
	}

	#menulabel {
		display: block;
		height: 3rem;
		min-width: 4rem;
		border-radius: 0.5rem;
		background-color: var(--buttom-color);
		line-height: 3rem;
		text-align: center;
		width: 10%;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 2;
	}

	#menu:checked+nav {
		display: flex;
	}

	#icon {
		height: 7rem;
	}

	main {
		padding-top: 1rem;
		width: 95%;
	}

	h1 {
		font-size: 1.3rem;
	}

	ul,
	p {
		font-size: 0.9rem;
	}

	section {
		padding-top: 1rem;
	}

	#features ul{
		display: flex;
	}

	#features ul li {
		width: 46%;
	}

	#download div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#download div>a {
		background-color: var(--bg-nav-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		display: block;
		margin-top: auto;
		margin-bottom: auto;
		margin: 1rem;
		padding: 2rem;
		font-size: 1.5rem;
		text-align: left;
		box-sizing: unset;
		width: 45%;
	}

	#download div .solink {
		background-repeat: no-repeat;
		padding-left: 6rem;
		background-size: 2rem;
		background-position-x: 2rem;
		background-position-y: middle;
	}
}

/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
	h1 {
		font-size: 1.5rem;
	}

	ul,
	p {
		font-size: 1rem;
	}

	nav {
		padding: 0.3rem;
		position: fixed;
	}

	nav>.solink {
		float: left;
		padding-top: 0px;
		padding-bottom: 0px;
		height: 100%
	}

	.solink,
	.theme {
		background-repeat: no-repeat;
		padding-left: 1.5rem;
		background-size: 1rem;
	}

	nav>a {
		margin-left: 0.2rem;
		margin-right: 0.2rem;
		padding: 0.2rem;
		font-size: 0.8rem;
	}

	main {
		padding-top: 3rem;
		width: 92%;
	}

	main ul {
		padding-left: 4rem;
	}

	section {
		padding-top: 3rem;
	}

	code {
		padding: 0.3rem;
		font-size: 1rem;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
	}

	#icon {
		height: 8rem;
	}

	#menulabel,
	#menu {
		display: none;
	}

	#features ul{
		display: flex;
	}

	#features div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#features ul li {
		width: 33%;
	}

	#features article:not(:has(ul)) {
		width: 46%;
	}

	#features article:has(ul){
		width: 100%;
	}

	#download div {
		display: flex;
		justify-content: space-between;
	}

	#download div>a {
		background-color: var(--bg-nav-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		display: block;
		margin-top: auto;
		margin-bottom: auto;
		margin: 0.8rem;
		padding: 1.5rem;
		font-size: 2rem;
		width: 25%;
		height: 100%;
		text-align: center;
		box-sizing: unset;
	}

	#download div .solink {
		background-repeat: no-repeat;
		padding-top: 10rem;
		background-size: 8rem;
		background-position-x: center;
		background-position-y: 1rem;
	}
}

/* Big boi Monitors */
@media (min-width: 1281px) {

	ul,
	p {
		font-size: 1.1rem;
	}

	nav {
		padding: 0.5rem;
		position: fixed;
	}

	nav>.solink {
		float: left;
		padding-top: 0px;
		padding-bottom: 0px;
		height: 100%
	}

	.solink,
	.theme {
		background-repeat: no-repeat;
		padding-left: 1.5rem;
		background-size: 1rem;
	}

	nav>a {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 0.5rem;
		font-size: 0.9rem;
	}

	main {
		padding-top: 4rem;
		max-width: 1200px;
		width: 90%;
	}

	main ul {
		padding-left: 5rem;
	}

	section {
		padding-top: 4rem;
	}

	code {
		padding: 0.5rem;
		font-size: 1.1rem;
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
	}

	#icon {
		height: 10rem;
	}

	code {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	#menulabel,
	#menu {
		display: none;
	}


	#features ul{
		display: flex;
	}

	#features div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#features ul li {
		width: 33%;
	}

	#features article {
		padding: 1rem;
		margin: 1.5rem 1rem;
	}

	#features article:not(:has(ul)) {
		width: 46%;
	}

	#features article:has(ul){
		width: 100%;
	}

	#download div {
		display: flex;
		justify-content: space-between;
	}

	#download div>a {
		background-color: var(--bg-nav-color);
		box-shadow: 0.2rem 0.2rem 10px 0 var(--shadow-color);
		display: block;
		margin-top: auto;
		margin-bottom: auto;
		margin: 1rem;
		padding: 2rem;
		font-size: 3rem;
		width: 25%;
		height: 100%;
		text-align: center;
		box-sizing: unset;
	}

	#download div .solink {
		background-repeat: no-repeat;
		padding-top: 14rem;
		background-size: 10rem;
		background-position-x: center;
		background-position-y: 2rem;
	}
}
